.container {
    height: 100vh;
  }
  
  .myPosts {
    display: flex;
    flex-wrap: wrap;
  }
  
  .postContainer {
    background-color: #ede8ea;
    border-radius: 0.4rem;
    margin: .5rem;
  }
  
  .textContainer {
    height: 20rem;
    width: 20rem;
    margin: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    text-align: left;
  }
  
  .title {
    font-size: larger;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #87204d;
  }

  .author {
    font-size: larger;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #87204d;
  }